/* Global */
.page-header {
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0;
}

.vr {
    width: 2px;
}

.grid-header {
    align-items: center;
    justify-content: space-between;
}

.grid-subheader {
    display: flex;
    align-items: center;
}

.grid-subheader > span {
    text-align: center;
}

.chev-btn:hover {
    cursor: pointer;
}

.grid-item {
    max-width: 300px;
    height: auto;
    text-transform: uppercase;
}

.grid-item img {
    width: 100%;
}

.grid-item img:hover, .item-name:hover, .item-headline:hover {
    cursor: pointer;
}

.news {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.grid > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.grid > .row > .grid-item {
    display: inline-block;
}

/* spain without the s */
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:250px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#000;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:50px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}