@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #222;
}

*:focus {
  box-shadow: none !important;
}

html {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow-x: hidden;
}